@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@1,500&family=Rubik+Bubbles&family=Sevillana&display=swap');

/* common styling.. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}
/*  End common styling.. */

/* navbar */
  .navbar{
     width: 100%;
     height: 15rem;
     background-color: #000;
     position: fixed;
     top: -13rem; /* hide the menu bar */
     z-index: 100;
     display: flex;
     justify-content: center;  
     align-items: center;
     box-shadow: 0.2rem 0.2re 0.2rem #000;
     transition: top 0.5s;  /*smooth up down navbar menu*/
  }

  /* up down navbar menu*/
  .navbar.change{
    top: 0;
    transition: top 0.5s 0.2s;
  }

  .navbar-link{
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;  /* for hidding */
    transition: color 0.4s, opacity 0.2s;
  }

  .change .navbar-link{
    opacity: 1;
  }
    
   /* displa menu one by one */
  .change .navbar-link:nth-child(1){
    transition: opacity 0.4s 0.5s, color 0.4s;
  }
  .change .navbar-link:nth-child(2){
    transition: opacity 0.4s 0.6s, color 0.4s;
  }
  .change .navbar-link:nth-child(3){
    transition: opacity 0.4s 0.7s, color 0.4s;
  }
  .change .navbar-link:nth-child(4){
    transition: opacity 0.4s 0.8s, color 0.4s;
  }
  .change .navbar-link:nth-child(5){
    transition: opacity 0.4s 0.9s, color 0.4s;
  }
  .navbar-link:hover{
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  
  .navbar-link i{
    font-size: 8rem;
  }
  .navbar-link span{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    margin-top: 0.5rem;
  }
.menu{
  width: 4rem;
  height: 6rem;
  background-color:#000;
  position: fixed;
  top:  1rem ;  /*16rem initial hide the menu bar */
  left: 5rem;  /*13rem initial hide the menu bar */
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #000,
              -0.1rem -0.1rem -0.1rem #000;
  cursor: pointer;
  z-index: 100;
  transition: top 0.5s 0.2s; /*smooth  navbar rope with 0,2 s delay time*/      
}

/* up down navbar rope*/
.menu.change{
  top: 15rem;
  transition: top 0.5s;
}

.menu::before{
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: #000;
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
  box-shadow: 0.1rem 0 0.1rem black;

}
/* End navbar */


/* section 1 */
.section-1{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
 .section-heading{
    font-size: 12rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000
 }
 .section-1-icons i {
    font-size: 35rem;
    color: #a79a2d;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    transition: transform 0.3s;
  }
  
  .section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
  }
/* End section 1 * /

/* start card section 2 */ 
.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
  }
  .cards-container{
    display: flex;
    justify-content: space-evenly;
  
  }
 
  .card{
    width: 25rem;
    height: 32rem;
    background-color: #a79a2d;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 20px;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s; 
  }

  /* cardhover effect */
  .card:hover{
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
  }

  /* for car side 3d effect */
  /* leftone */
  .card::before{
    content: "";
    height: 100%;
    /* margin-bottom: 30px; */
    width: 1rem;
    background-color: #817824;
    position: absolute;
    top: 0;
    left: -1rem; 
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: 0.1rem 0.1rem 0.1rem #000;
  }
  /* Rightone */
  .card::after{
    content: "ii";
    height: 1rem;
    width: 100%;
    background-color: #8f8317;
    position: absolute;
    top: -1rem;
    left: 0; 
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: 0.1rem 0.1rem 0.1rem #000;
  }
  .card-img{
    /* margin-left: -100px; */
    width: 100%;

     }

.card-name{
    font-size:2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #111;
    margin: 1rem;
    text-shadow: 0.15rem 0.15rem 0.15rem black;
}

.card-btn{
    width: 50%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    box-shadow: -2rem -2rem -2rem #000;
    margin-bottom: 2rem;
}

/* End start card section 2  */

/* section 3 galry */
.section3{
  /* border: 3px solid red; */
  background-color: #333;
  padding: 5rem 0;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}
.gallery-link{
  position: relative;
  margin: 4rem 1rem;
  /* border: 3px solid red; */
}

/* making line  */
.gallery-link::before{
  content: "";
  position: absolute;
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height:0;
  background-color: #fff;
  transition: height 0.5s;
  z-index: 10;
  /* border: 5px solid red; */
}

.gallery-link:hover::before{
  height: 80%;
}
.gallery-link:hover::after{
  width: 90%;
}
.gallery-link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0 ;
  height: 0.2rem;
  background-color: #fff;
  transition: width 0.5s;
  /* border: 5px solid red; */
}
/* making line end */


.food-img{
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929,
               0.5rem 0.5rem 0.1rem #a2e946,
               0.7rem 0.7rem 0.1rem #297ce9,  
               0.9rem 0.9rem 0.1rem #e92999;
  transition: all 0.5s;             
}

.gallery-link:hover .food-img{
  box-shadow: 1rem 1rem 1rem #e92929,
  2rem 2rem 1rem #a2e946,
  3rem 4rem 1rem #297ce9,  
  5rem 5rem 1rem #e92999;
  filter: blur(0.3rem);
  opacity: 0.6 ;
  transform: scale(2.1);
}
.food-name{
  position:absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
  /* border: solid 3px red; */
}
/* visible food name and descrip while hover */
.gallery-link:hover .food-name{
  width: 100%;
  transition: width 1.5s .5s;
}
/*  end visible food name and descrip while hover */

.food-descrip{
  /* border: 3px solid  red; */
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
   color: #fff;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s;
}
/* dsecrp visible while hover */

.gallery-link:hover .food-descrip{
  opacity: 1;
  visibility: visible; 
  transition: opacity 1s 1s;
}
/* end */

/* End section 3 galry */

/* section 4 footer */
 .section-4{
  /* border: 4px solid red; */
  width: 100%;
  height: 30vh;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  align-items: flex-start;
  position: relative;

 }
 .section-4-txt{
  text-transform: uppercase;
 }
 .section-4-heading{
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
 }
 .section-4-para{
  font-size: 1.5rem;
  color: #888;
 }
 .signup-form{
  display: flex;
  align-items: center;
 } 
 .signup-form-input{
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #a79a2d;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #a79a2d;
 }
.signup-form-input::placeholder{
  color: #a79a2d;
}
.signup-form-btn{
  position: relative;
  left: -4.5rem;
  width: 4rem ;
  height: 4rem;
  background-color: #333;  
  color: #a79a2d;
  border: none;
  font-size: 1.8rem;
  cursor: pointer ;
}
 .copyright{
  /* border: solid 5px red; */
  position: absolute;
 bottom: 3rem;
 font-size: 1.4rem;
 font-weight: 300;
 color: #eee;
 letter-spacing: 0.2rem;
 border-top: 0.2rem solid #888;
 padding-top: 3rem;
 width: 100%;
 text-align: center;
 }

/* End section 4 footer */

/* Resposiveness  */
   @media (max-width:1400px) {
    html{
      font-size: 50%;
    }
    .section-2{
      height: auto;
      padding: 10rem 0 12rem 0;
    }
    .cards-container{
      margin-top: 10rem;
    }
    .card-btn{
      font-size: 1.4rem;
    }
    .gallery-link{
      width: 40rem;
      height: 25rem;
      margin: 5rem;
    }
    .food-img{
      width: 100%;
      height: 100%;
    }
    
   }
   @media (max-width: 1000px) {
    .section-4-heading{
      font-size: 9rem;
      margin:  0 5rem;
    }
    .section-1-icons{
      font-size: 25rem;
    }
    .cards-container{
      flex-wrap: wrap;
    }
    .card{
      margin: 5rem;
    }
    .section-4{
      height: 30rem;
    }
    
   }
@media (max-width:900px) {
  .navbar-link{
    margin: 2rem;
  }
  .navbar-link i{
    font-size: 4rem;
  }
  .navbar-link span{
    font-size: 2rem;
  }
  
}
@media (max-width:700px) {
  .section-heading{
    font-size: 7rem;
    margin: 0 10rem;
  }
  .section-1-icons{
    font-size: 20rem;
  }
  .menu{
    left: 2rem;
  }
  .section-4{
    height: 40rem;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-4-txt{
    margin-bottom: 8rem;
  }
  
}

@media (max-width:550px) {
      html{
      font-size: 40%;
    }
    .navbar-link{
      margin: 0 0.7rem;
    }
}
/* End Resposiveness  */